.chatPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chatListPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 'Arial', sans-serif;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.chatListPage h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 2opx;
}

.room {
    background :linear-gradient(135deg, #A1C4FD 30%, #C2E9FB 70%);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
}

.room:hover {
    transform: translateY(-5px);
}

.room.full {
    background: linear-gradient(135deg, #ff5555 0%, #ff9999 100%);
}

.room h3 {
    font-size: 18px;
    margin : 0;
}

.add-room-section {
    text-align: right;
    margin-top: 20px;
}

.add-room-section button {
    background-color: black;
    color: white;
    padding: 5px 13px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-room-section button:hover {
    background-color: #A1C4FD;
}

