.ChildComponent2 .analysis-content .text-details {
    white-space: pre-wrap;  /* 줄바꿈 및 공백 유지 */
    word-wrap: break-word;  /* 단어가 너무 길 경우 줄바꿈 처리 */
    line-height: 1.5;       /* 줄 간격을 넓혀 가독성 향상 */
    word-break: keep-all;   /* 단어가 중간에 끊기지 않도록 설정 */
    max-width: 100%;        /* 필요에 따라 최대 너비 설정 (반응형 지원) */
}

.result-content {
    font-family: sans-serif; /* Nanum Gothic 폰트 설정 */
    font-size: 12px;
    padding: 10px; /* 패딩 추가 */
    border-radius: 5px; /* 둥근 테두리 */
    overflow-x: auto; /* 긴 텍스트가 넘어갈 경우 가로 스크롤 */
}