.InfoBar {
    color: #000;
    background: #fff;
    height: 60px;
}

.InfoBar h3{
    width: 360px;
    padding: 14px;
    font-size: 20px;
}

.line{
    border-top: 1px solid #444444;
    width: 300px;
    margin: -34px auto;
}

.searchtext{
    width: 120px;
    height: 20px;
    position: relative;
    bottom: 50px;
    left: 260px;
}
.barsearch{
    background: url(../IMG/Vector.png)no-repeat 6px;
    width: 30px;
    height: 30px;
    border: 0;
    position: relative;
    bottom: 40px;
    left: 228px;
}

.userIcon{
    background: url('../IMG/multiple_user_icon.png');
    width: 24px;
    height: 24px;
}