.LogContainerForAIModel {
    color: black;
    background: white;
    border: 1px solid #2e2e2e;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 700px;
    height: 450px;
    margin-top: 20px;
}