.MessageContainer {
    height: 86%;
    overflow-y: auto;
}

.bottombutton{
    position: absolute;
    top: 520px;
    left: 180px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ababab;
    z-index: 1000;
}