.user1 {
  width: 180px;
  background: #fff;
  margin :5px 0px 0px 197px;
}

.username1{
  display: none;
  
}
.user1 .usetext{
  padding: 7px;
  border-radius: 10px 10px 0px 10px;
  margin: auto;
  font-size: 13px;
  text-overflow: ellipsis;
  word-break: break-all;
  background: #CAF3FC;
}

.username2{
  text-align: left;
  font-size: 13px;
  font-weight: 550;
  margin-bottom: 2px;
}
.user2 {
  width: 180px;
  background: #fff;
  margin: 5px 0px 0px 13px;
}

.user2 .usetext{
  padding: 7px;
  border-radius: 10px;
  margin: auto;
  font-size: 13px;
  text-overflow: ellipsis;
  word-break: break-all;
  background: #F4F3F2;
}

.highlighttext{
  background: #000; 
  color: #fff;
}

.user1 .alltext{
  height: 385px;
    padding: 7px;
    border-radius: 10px 10px 0px 0px;
    font-size: 13px;
    overflow: hidden
}

.user2 .alltext{
  height: 385px;
  padding: 4px;
  overflow: hidden;
}

.buttontext{
  width: 170px;
}

.user1 .buttonstyle{
  width: 166px;
  margin: 0 auto;
  text-align: left;
  border: 0px solid;
  background: #CAF3FC;
  border-top: 1px solid;
  border-radius: 0px 0px 0px 10px;
  cursor: pointer;
}

.user2 .buttonstyle{
    width: 166px;
    margin: 0 auto;
    text-align: left;
    border: 0px solid;
    background: #F4F3F2;
    border-top: 1px solid;
    border-radius: 0px 0px 0px 10px;
    cursor: pointer;
}