.TextContainer {
    color: black;
    background: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.textinput{
    border: solid 1px;
    width: 200px;
    height: 30px;
    font-size: 13px;

}
.test1{
    background: url(../IMG/Icon.png);
    background-size: cover;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    border: solid 1px;
}
.test2{
    background: url(../IMG/Icon.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    border: 0;
    border: solid 1px;
}